.flower__zoo {
  position: absolute;
  top: -127px;
  right: 0px;
  /* backdrop-filter: blur(2px); */
}
.backstage__row {
  display: flex;
  gap: 87px;
  margin-top: 140px;
}
.backstage {
  position: relative;
}

.backstage__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #333b41;
}
.backstage__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333b41;
  padding-top: 56px;
}
.backstage__paragraph1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333b41;
  padding-top: 22px;
}
.backstage__paragraph2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333b41;
  padding-top: 32px;
}
@media (max-width: 1599px) {
  .backstage__title {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
  }
  .flower__zoo {
    display: none;
  }
  .backstage__img {
    width: 455px;
    height: 408px;
    flex: 0 0 auto;
  }
  .backstage__img img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 999px) {
  .backstage__img {
    display: none;
  }
  .flower__zoo {
    display: block;
    width: 231px;
    height: 476px;
    overflow: hidden;
  }
  .flower__zoo img {
    width: 100%;
    height: 100%;
    transform: translateX(50%);
  }
  .backstage__content {
    max-width: 80%;
  }
}
@media (max-width: 639px) {
  .flower__zoo {
    width: 105px;
    height: 217px;
  }
  .flower__zoo img {
    width: 100%;
    height: 100%;
    transform: translateX(70%);
  }
  .backstage__content {
    max-width: 100%;
  }
  .backstage__title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
  }
  .backstage__paragraph1 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }
  .backstage__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
  }
  .backstage__paragraph2 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
}
