.sliders {
  display: grid;
  grid-template-columns: 82px 1158px 82px;
  grid-template-rows: 426px 426px;
  row-gap: 20px;
}
.pets__wrapper {
  max-width: 1322px;
  margin: 0 auto;
}
.ellipse__left {
  align-self: center;
  justify-self: start;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.card__slider-row {
  display: flex;
  column-gap: 30px;
}
.ellipse__right {
  align-self: center;
  justify-self: end;
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}
.carousel {
  display: flex;
  position: relative;
  left: -1162px;
}
.carousel-wrapper {
  width: 1163px;
  overflow: hidden;
}
.card__slider-row {
  margin: 0 1px;
}
@keyframes move-left {
  from {
    left: -1161px;
  }
  to {
    left: 0px;
  }
}
.transition-left {
  animation-name: move-left;
  animation-duration: 3s;
}
@keyframes move-right {
  from {
    left: -1161px;
  }
  to {
    left: -2324px;
  }
}

.transition-right {
  animation-name: move-right;
  animation-duration: 3s;
}

.pets {
  padding-top: 176px;
  position: relative;
}
.card__slider {
  box-sizing: border-box;
  width: 367px;
  height: 426px;
  border: 1px #f9804b solid;
  border-radius: 5px;

  overflow: hidden;
}
.card__slider-image {
  transition: 0.3s;
  width: 100%;
}
.card__slider:hover {
  background-color: #000000;
}
.card__slider:hover .card__slider-image {
  transform: scale(1.35);
  opacity: 60%;
}
.card__slider:hover .card__content {
  color: white;
  transform: translateY(-50px);
}
.card__content {
  color: black;
  transition: 0.5s;
}
.card__slider:hover .card__food {
  display: none;
}
.card__row {
  display: flex;
  padding-left: 16px;
  padding-right: 10px;
  padding-top: 2px;
  justify-content: space-between;
}
.card-content-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
}
.pets__btn {
  display: flex;
  margin-top: 80px;
  justify-content: center;
  margin-bottom: 100px;
}
.card__content-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}
.card__food {
  padding-top: 1px;
  padding-right: 1px;
}
.decor__left {
  position: absolute;
  bottom: -105px;
  left: 0px;
  transition: all 0.5s ease;
}
.decor__right {
  position: absolute;
  bottom: -105px;
  right: 0px;
}
.decor__left-photo,
.decor__right-photo {
  width: 100%;
  height: 100%;
}

@media (max-width: 1324px) {
  .pets__wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }
  .sliders {
    display: grid;
    grid-template-columns: 940px;
    grid-template-rows: 354px 62px 354px;
    row-gap: 15px;
    transition-duration: 1s;
  }
  .card__slider {
    width: 293px;
    height: 354px;
    border: 1px #f9804b solid;
    border-radius: 5px;
  }
  .ellipse__left {
    align-self: center;
    margin-left: 324px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    transition-duration: 1s;
  }
  .card__slider-row {
    display: flex;
    column-gap: 30px;
  }
  .ellipse__right {
    align-self: center;

    margin-right: 324px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    transition-duration: 1s;
  }
  .card__slider:hover .card__slider-image {
    transform: scale(1.5);
    opacity: 60%;
  }
  .carousel {
    display: flex;
    position: relative;
    left: -942px;
  }
  .carousel-wrapper {
    width: 940px;
    overflow: hidden;
  }
  @keyframes move-left {
    from {
      left: -940px;
    }
    to {
      left: 0px;
    }
  }
  @keyframes move-right {
    from {
      left: -940px;
    }
    to {
      left: -1882px;
    }
  }
  .decor__left {
    width: 194px;
    height: 202px;
  }
  .decor__right {
    width: 241px;
    height: 180px;
  }
}
@media (max-width: 999px) {
  .pets__wrapper {
    max-width: 640px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .sliders {
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: 332px 62px 332px;
    row-gap: 15px;
  }
  .card__slider {
    width: 285px;
    height: 332px;
    border: 1px #f9804b solid;
    border-radius: 5px;
  }

  .ellipse__right {
    align-self: center;

    margin-right: 223px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    transition-duration: 1s;
  }
  .ellipse__left {
    align-self: center;
    margin-left: 223px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    transition-duration: 1s;
  }
  .card__slider-row .card__slider:nth-child(2) {
    display: none;
  }
  .carousel {
    display: flex;
    position: relative;
    left: -602px;
  }
  .carousel-wrapper {
    width: 602px;
    overflow: hidden;
  }
  @keyframes move-left {
    from {
      left: -600px;
    }
    to {
      left: 0px;
    }
  }
  @keyframes move-right {
    from {
      left: -600px;
    }
    to {
      left: -1204px;
    }
  }
  .decor__right {
    width: 175px;
    height: 131px;
  }
  .decor__left {
    left: -50px;
  }
}

@media (max-width: 640px) {
  .pets__wrapper {
    padding-left: 9px;
  }
}

@media (max-width: 638px) {
  .pets__wrapper {
    max-width: 330px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .ellipse__left,
  .ellipse__right {
    display: none;
  }
  .sliders {
    display: grid;
    grid-template-columns: 315px;
    grid-template-rows: 684px 684px;
    column-gap: 20px;
    row-gap: 20px;
  }
  .card__slider-left,
  .card__slider-right {
    display: none;
  }
  .card__slider-row {
    flex-direction: column;
    row-gap: 20px;
  }
  .card__slider {
    width: 285px;
    height: 332px;
    border: 1px #f9804b solid;
    border-radius: 5px;
  }
  .carousel {
    display: flex;
    position: relative;

    left: 0px;
  }
  .carousel-wrapper {
    width: 315px;
    overflow: hidden;
  }
  .pets__btn {
    margin-top: 20px;
    margin-bottom: 60px;
  }
  .decor__right {
    width: 85px;
    height: 71px;
    bottom: -49px;
  }
  .decor__left {
    width: 79px;
    height: 72px;
    left: 0px;
    bottom: -49px;
  }
}
