.sliders {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  row-gap: 20px;
  column-gap: 29px;
}
.elipse__left {
  position: absolute;
  left: 8.75%;
  top: 580px;
}
.elipse__rigth {
  position: absolute;
  right: 8.75%;
  top: 580px;
}
.pets {
  padding-top: 176px;
  position: relative;
}
.card__slider {
  box-sizing: border-box;
  width: 367px;
  height: 426px;
  border: 1px #f9804b solid;
  border-radius: 5px;

  overflow: hidden;
}
.card__slider-image {
  transition: 0.3s;
}
.card__slider:hover {
  background-color: #000000;
}
.card__slider:hover .card__slider-image {
  transform: scale(1.35);
  opacity: 60%;
}
.card__slider:hover .card__content {
  color: white;
  transform: translateY(-50px);
}
.card__content {
  color: black;
  transition: 0.5s;
}
.card__slider:hover .card__food {
  display: none;
}
.card__row {
  display: flex;
  padding-left: 16px;
  padding-right: 10px;
  padding-top: 2px;
  justify-content: space-between;
}
.card-content-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
}
.pets__btn {
  display: flex;
  margin-top: 80px;
  justify-content: center;
  margin-bottom: 100px;
}
.card__content-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}
.card__food {
  padding-top: 1px;
  padding-right: 1px;
}
.decor__left {
  position: absolute;
  bottom: -105px;
  left: 0px;
}
.decor__right {
  position: absolute;
  bottom: -105px;
  right: 0px;
}
