.watch__content {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 500px;
  margin-left: 57.25%;
  padding-top: 86px;
  position: relative;
}
.watch__content-mark {
  color: rgba(255, 238, 46, 1);
}
.watch__elipse {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  height: 465px;
  width: 465px;
  margin-top: 12px;
  margin-left: 587px;
}
.watch {
  background: rgba(40, 48, 53, 1);
  background-image: url("./../../images/Giant\ Panda.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top -80px;
}

.watch__btn {
  margin-left: 65.7%;
  margin-top: 60px;
  margin-bottom: 6.25%;
}
@media (max-width: 1200px) {
  .watch__content {
    font-weight: 700;
    font-size: 85px;
    line-height: 75%;
  }
  .watch__elipse {
    width: 367px;
    height: 367px;
    margin-left: 45.6%;
  }
}
@media (max-width: 1000px) {
  .watch__content {
    font-weight: 700;
    font-size: 85px;
    line-height: 75%;
  }
  .watch__elipse {
    width: 367px;
    height: 367px;
  }
}
@media (max-width: 750px) {
}
@media (max-width: 640px) {
}

@media (max-width: 320px) {
}
