.watch__content {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 500px;
  margin-left: 57.25%;
  padding-top: 86px;
  position: relative;
}
.watch__content-mark {
  color: rgba(255, 238, 46, 1);
}
.watch__ellipse {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  height: 465px;
  width: 465px;
  margin-top: 12px;
  margin-left: 587px;
}
.watch {
  margin-top: 80px;
  background: rgba(40, 48, 53, 1);
  background-image: url("./../../images/Giant\ Panda.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.watch__btn {
  margin-left: 65.7%;
  margin-top: 60px;
  margin-bottom: 6.25%;
}
@media (max-width: 1599px) {
  .watch__content {
    font-weight: 700;
    font-size: 85px;
    line-height: 75%;
    margin-left: 484px;
  }
  .watch__ellipse {
    width: 367px;
    height: 367px;
    margin-left: 426px;
  }
}

@media (max-width: 999px) {
  .watch__content {
    font-style: normal;
    font-weight: 700;
    font-size: 54.2894px;
    line-height: 75%;
    margin-left: 368px;
    padding-top: 48px;
  }
  .watch__ellipse {
    width: 237.6px;
    height: 237.6px;
    margin-left: 330px;
    margin-top: 10px;
  }
  .watch__btn {
    margin-top: 60px;
    margin-bottom: 6.25%;
    margin-left: 0px;
  }
  .watch {
    margin-top: 34px;
  }
}
@media (max-width: 639px) {
  .watch__content {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 75%;
    margin-left: 181px;
    padding-bottom: 43px;
  }
  .watch__ellipse {
    width: 119px;
    height: 119px;
    margin-left: 160px;
  }
  .watch__btn {
    position: absolute;
    margin-top: 20px;
    margin-bottom: 6.25%;
    margin-left: 0px;
  }
}

@media (max-width: 320px) {
}
