body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /*max-width: 1600px;*/
  margin: auto;
}
.donate__header-bg {
  height: 386px;
  background: url("./../../images/panda_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
