/*!***********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./online-zoo/src/assets/styles/donate.scss ***!
  \***********************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap);
/*!***************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./online-zoo/src/assets/styles/pages/_donate.scss ***!
  \***************************************************************************************************/
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /*max-width: 1600px;*/
  margin: auto;
}
.donate__header-bg {
  height: 386px;
  background: url(images/panda_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*!*************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./online-zoo/src/assets/styles/layers/_zoo.scss ***!
  \*************************************************************************************************/
.zoo {
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  padding-bottom: 200px;
}
.zoo__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  /* identical to box height, or 47px */
  color: #ffffff;
  padding-top: 40px;
}
.zoo__content {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  padding-top: 10px;
}
.zoo__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #fe9013;
  padding-top: 46px;
  padding-bottom: 59px;
}
.zoo__rectangle {
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}
.zoo__rectangle-title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #fe9013;
  padding-top: 39px;
  padding-left: 342px;
}
.zoo__rectangle-content {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333b41;
  padding-top: 22px;
  padding-left: 93px;
}
.animals__widget {
  display: flex;
}
.animals__diet {
  margin-top: 58px;
  margin-left: 308px;
}
.animals__diet-day {
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 107px;
}
.animals__diet-content {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  color: #333b41;
  margin-top: 10px;
}
.animals__diet-symbol {
  margin-top: 189px;
  margin-left: 12px;
}
.animals__diet-animal {
  margin-top: 60px;
  margin-left: 63px;
}
.zoo__amount {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  margin-top: 43px;
  margin-left: 96px;
}

.zoo__progress-bar {
  padding-top: 50px;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 79px;
  margin-right: 92px;
}

.zoo-fieldset {
  display: flex;
  border: none;
  justify-content: space-between;
  text-align: center;
  position: relative;
}
.zoo__amount-radio {
  display: none;
}
.amount__item {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;

  top: -42px;
  left: 4px;
}
.amount__item::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffee2e;
  top: 50%;
  left: 21%;
  transform: translate(50%, -50%);
}
.amount__item::after {
  transition: all 0.5s ease;
  content: "";
  position: absolute;
  background-image: url(images/roller_icon.svg);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -7%;
  left: -8%;
  opacity: 0;
}
.zoo__amount-radio:checked ~ p {
  color: #fe9013;
}
.zoo__amount-radio:checked + .amount__item::after {
  opacity: 1;
}

.amount__monetary-unit {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-transform: lowercase;
}

.box {
  cursor: pointer;
  user-select: none;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  text-transform: uppercase;
  color: #333b41;
  position: relative;
}

.zoo-box {
  position: absolute;
  width: 976px;
  height: 27px;
  background: #404950;
  border-radius: 2px;
  top: -32px;
}
.zoo-box2 {
  position: absolute;
  width: 915px;
  height: 2px;
  top: -20px;
  left: 33px;
  background: #72828e;
}

.zoo__amount-number {
  width: 262px;
  height: 50px;
  border: 1px solid rgba(146, 150, 153, 1);
  margin-left: auto;
  margin-top: 40px;
  margin-right: auto;
  padding-left: 10px;
}
.zoo__amount-monetary {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.zoo__amount-monetary::after {
  content: "$";
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #929699;
  top: 57px;
  right: 3%;
}

.zoo__amount-number:focus {
  appearance: none;
  outline: 2px solid #4b9200;
  border: 1px solid #4b9200;
}
.zoo__amount-number::-webkit-outer-spin-button,
.zoo__amount-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.zoo__amount-number::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #929699;
}
.zoo__amount-number:valid {
  color: #4b9200;
  border: 1px solid #4b9200;
}

.zoo__amount-number:invalid {
  color: #d31414;
  border: 1px solid #d31414;
}
.zoo__amount-row {
  display: flex;
  position: relative;
}
.period__radio {
  display: none;
}
.period__radio-fake {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #f9804b;
  left: -25px;
  top: -3px;
  transition: 0.5s;
}
.period__radio:checked + label .period__radio-fake {
  background-color: #4b9200;
  border: 1px solid #4b9200;
}
.period {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.zoo-period {
  margin-top: 27px;
  display: flex;
}

.zoo__period-items {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.zoo__monthly {
  margin-left: 6px;
  margin-right: 48px;
}
.zoo__once {
  margin-left: 8px;
  margin-right: 12px;
}
.zoo__btn {
  display: flex;
  justify-content: center;
  margin-top: 31px;
  margin-left: 7px;
}
.zoo__network {
  display: flex;
  justify-content: center;
  margin-top: 31px;
  margin-left: 7px;
  padding-bottom: 62px;
}
.zoo__network-item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333b41;
}
@media (max-width: 1599px) {
  .zoo__progress-bar {
    margin-left: 65px;
    margin-right: 65px;
  }
  .donate-5000 {
    display: none;
  }
  .zoo-box {
    width: 810px;
  }
  .zoo-box2 {
    width: 764px;
  }
}
@media (max-width: 999px) {
  .zoo__progress-bar {
    margin-left: 0px;
    margin-right: 0px;
  }

  .zoo__rectangle {
    backdrop-filter: none;
  }
  .zoo-box {
    width: 600px;
    left: -3px;
  }
  .zoo-box2 {
    width: 524px;
  }
  .animals__diet {
    margin-left: 24px;
  }
  .zoo__title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
  }
  .zoo__content {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
  }
  .zoo__rectangle-title {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    padding-left: 64px;
    padding-right: 64px;
  }
  .zoo__rectangle-content {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    padding-left: 0px;
  }
  .donate-2000 {
    display: none;
  }
}
@media (max-width: 639px) {
  .zoo-box {
    width: 300px;
    height: 13px;
    left: -3px;
    top: -26px;
  }
  .zoo-box2 {
    width: 244px;
    height: 1px;
  }
  .animals__diet {
    margin-left: 5px;
    margin-top: 5px;
  }
  .animals__diet-day {
    font-style: normal;
    font-weight: 500;
    font-size: 40.6015px;
    line-height: 80%;
    margin-top: 41px;
  }
  .animals__diet-content {
    font-style: normal;
    font-weight: 400;
    font-size: 9.02255px;
    line-height: 140%;
  }
  .animals__diet-symbol {
    margin-top: 58px;
  }

  .animals__diet-animal {
    width: 151.4px;
    height: 111.92px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .animals__diet-image {
    height: 100%;
    width: 100%;
  }
  .box {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
  }
  .amount__monetary-unit {
    font-weight: 500;
    font-size: 10px;
    line-height: 140%;
    text-transform: lowercase;
  }
  .amount__item::before {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ffee2e;
    top: 50%;
    left: 21%;
    transform: translate(50%, -50%);
  }
  .amount__item::after {
    left: -22%;
  }
  .zoo__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
  }
  .zoo__rectangle-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    padding-left: 34px;
    padding-right: 34px;
  }
  .zoo__rectangle-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
  .zoo__network-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
  .zoo__network {
    margin-left: -1px;
  }
  .zoo__amount {
    margin-left: 5px;
    margin-top: 10px;
  }
}

/*!***************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./online-zoo/src/assets/styles/donate.scss (1) ***!
  \***************************************************************************************************************************************/


