.wrapper {
  max-width: 1160px;
  margin: 0 auto;
}
.btn {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  width: 298px;
  height: 54px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  transition: color 0.3s ease;
  cursor: pointer;
}
.btn:hover {
  background: rgba(228, 114, 9, 1);
}
.arroy__elipse {
  transition: color 0.3s ease;
  cursor: pointer;
  height: 62px;
  width: 62px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  justify-content: center;
  align-items: center;
  display: flex;
}
.arroy__elipse:hover {
  background: rgba(228, 114, 9, 1);
}
