.wrapper {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

* {
  outline: 1px dotted lightblue;
}

.btn {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  width: 298px;
  height: 54px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  padding-left: 10px;
  color: #ffffff;
  transition: color 0.3s ease;
  cursor: pointer;
}
.btn:hover {
  background: rgba(228, 114, 9, 1);
}
.btn:active {
  background-color: #4b9200;
}
.arrow__ellipse {
  transition: color 0.3s ease;
  cursor: pointer;
  height: 62px;
  width: 62px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  justify-content: center;
  align-items: center;
  display: flex;
}
.arrow__ellipse:hover {
  background: rgba(228, 114, 9, 1);
}
.arrow__ellipse:active {
  background-color: #4b9200;
}
.rectangular-btn {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 5px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.rectangular-btn:hover {
  background: rgba(228, 114, 9, 1);
}
.rectangular-btn:active {
  background-color: #4b9200;
}

.logo-gold {
  border: 1px solid #fe9013;
}

.none {
  display: none;
}

@media (max-width: 1599px) {
  .wrapper {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
}
@media (max-width: 999px) {
  .wrapper {
    max-width: 640px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
}
@media (max-width: 639px) {
  .wrapper {
    max-width: 320px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
  }
}
@media (max-width: 640px) {
}

@media (max-width: 320px) {
}
